body{
	margin: 10px;
	background-color: black;
	color: white;
	font-family: 'Carrois Gothic SC', sans-serif;
}

header{
	text-align: center;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1, h2, h3, h4{
	color: black;
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 100px;
}
h2{
	font-size: 50px;
}

h3{
	font-size: 40px;
}

h4{
	font-size: 30px;
}

h1 span, h2 span{
	background-color: yellow;
	padding-left: 20px;
	padding-right: 25px;
}
h3 span{
	background-color: yellow;
	color: black;
}

h4.friend-text span{
	background-color: yellow;
	color: black;
}

h3.enemy-text span{
	background-color: red;
	color: white;
}

h4.enemy-text span{
	background-color: red;
	color: white;
	display: inline-block;
}



p{
	color: white;
	font-size: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	width: 75%
}

#batman{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


a{
	text-decoration: none;
	color: lightgrey;
}

a:hover{
	background-color: yellow;
	color: black;
}

.round{
	border-radius: 150px;
	width: 300px;
	height: 300px;
	
}

.enemy{
	border: 5px solid crimson;
}

.friend{
	border: 5px solid gold;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h5{
	text-align: right;
}