body{
	background-color: lightgoldenrodyellow;
}

h1{
	font-size: 30px;
	color: salmon;
}

h2{
	font-size: 20px;
	color: red;
}

h2{
	color: green;
}

.big{
	font-size: 60px;
	background-color: deeppink;
}

.uppercase{
	text-transform: uppercase;
	/* background-color: darkkhaki; */

}

.big.uppercase{
	color: navy;
	background-color: mediumorchid;
}

.uppercase.big{
	color: brown;
}

h1 span{
	color: violet;
}

h3{
	background-color: blue;
}